<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <p>
    Name:
    <input type="text" name="pirate[name]">
  </p>
  <p>
    Weight:
    <input type="text" name="pirate[weight]">
  </p>
  <p>
    Height:
    <input type="text" name="pirate[height]">
  </p>
  <p>
    Ship Name:
    <input type="text" name="ship_name_1">
  </p>
  <p>
    Pirate Ship Type:
    <input type="text" name="ship_type_1">
  </p>
  <p>
    Pirate Ship Booty:
    <input type="text" name="ship_booty_1">
  </p>
  <br>
  <p>
    Ship Name:
    <input type="text" name="ship_name_2">
  </p>
  <p>
    Pirate Ship Type:
    <input type="text" name="ship_type_2">
  </p>
  <p>
    Pirate Ship Booty:
    <input type="text" name="ship_booty_2">
  </p>
  <button type="submit" name="submit">Submit<input type="submit" name="submit"></button>

<!-- </form>

<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <p>
    Name:
    <input type="text" name="pirate[name]">
  </p>
  <p>
    Weight:
    <input type="text" name="pirate[weight]">
  </p>
  <p>
    Height:
    <input type="text" name="pirate[height]">
  </p>
  <p>
    Ship Name:
    <input type="text" name="pirate[ships][][name]">
  </p>
  <p>
    Pirate Ship Type:
    <input type="text" name="pirate[ships][][type]">
  </p>
  <p>
    Pirate Ship Booty:
    <input type="text" name="pirate[ships][][booty]">
  </p>
  <br>
  <p>
    Ship Name:
    <input type="text" name="pirate[ships][][name]">
  </p>
  <p>
    Pirate Ship Type:
    <input type="text" name="pirate[ships][][type]">
  </p>
  <p>
    Pirate Ship Booty:
    <input type="text" name="pirate[ships][][booty]">
  </p>
<!-- -->
<!-- <p>
  Ship Name:
  <input type="text" name="ship_name_1">
</p>
<p>
  Pirate Ship Type:
  <input type="text" name="ship_type_1">
</p>
<p>
  Pirate Ship Booty:
  <input type="text" name="ship_booty_1">
</p>
<br>
<p>
  Ship Name:
  <input type="text" name="ship_name_2">
</p>
<p>
  Pirate Ship Type:
  <input type="text" name="ship_type_2">
</p>
<p>
  Pirate Ship Booty:
  <input type="text" name="ship_booty_2">
</p>
<!-- -->


  <!-- <input type="submit" name="submit"> -->
  <!-- <button type="submit" name="submit">Submit<input type="submit" name="submit"></button>
</form> --> --> -->
